@import '../layout/variable';

.header-section {
  background-color: $bg-color;
  padding-bottom: 30px;

  &::before {
    content: url('../images/image0.png');
    width: 50px;
    position: absolute;
    top: -29px;
    left: -2px;
    z-index: 1;

    @media screen and (min-width:576px) {
      width: 202px;
      top: 30px;
      left: 6px;
    }
  }

  .header {
    background-color: #071B40;
    position: relative;
    padding: 20px;
    border-radius: 0px 0px 30px 30px;
    z-index: 1;

    .header-navbar {
      display: flex;
      justify-content: space-between;

      align-items: center;

      .navlist {
        display: none;
        font-size: 18px;
        font-weight: 500;

        @media screen and (min-width:992px) {
          display: flex;
          align-items: center;
          gap: 50px;
          animation: slideleft 1s ease forwards;

        }

        &.active {
          position: absolute;
          display: block;
          width: 170px;
          padding: 20px;
          background-color: #303a6a;
          line-height: 30px;
          box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.19);
          top: 65px;
          right: 170px;
          text-align: start;
          transform: translateX(170px);
          transition: all ease 0.3s;
          z-index: 1;
        }

        li {
          .active {
            @media screen and (min-width:992px) {
              border-bottom: 10px solid $secondary;
              border-radius: 0px 0px 10px 10px;
            }
          }

          a {
            padding-top: 20px;
            padding-bottom: 30px;
            color: $secondary;

            &:hover {
              color: #00ffff;
              transition: border 0.3s, border-radius 0.3s;

              @media screen and (min-width:992px) {
                border-bottom: 10px solid $secondary;
                border-radius: 0px 0px 10px 10px;
              }
            }
          }
        }
      }

      .logo {
       
        img {
          width: 170px;
          animation: slideright 1s ease forwards;

          @media screen and (min-width:576px) {
            width: 261px;
          }
        }
      }

      .menu-btn {
        font-size: 24px;
        color: $secondary;
        display: block;

        @media screen and (min-width:992px) {
          display: none;
        }
      }
    }

  
  }
}
@keyframes slideright {
  0% {
    transform: translateX(-100px);
opacity: 0;
  }

  100% {
    transform: translateX(0);
  opacity: 1;
  }
}
@keyframes  slideleft {
  0% {
    transform: translateX(100px);
opacity: 0;
  }

  100% {
    transform: translateX(0);
  opacity: 1;
  }
}